/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  width: 100%;
  background-color: #FFF8ED;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background-color: #FFF8ED;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#login-dropdown {
  color: #A9C0E8;
}

/* Landing Page */
#landing-page {
  background-color: #1C2B5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#landing-btn {
  color: #1C2B5A; 
  border: none; 
  box-shadow: none;
}

#landing-header {
  color: #A9C0E8;
  font-size: 4rem;
  scale: 2;
}

/* Navbar + Footer */
#navbar, #footer {
  background-color: #14224A;
  color: #A9C0E8;
}

#navbar-header {
  color: #A9C0E8;
  font-weight: bold;
}

#navbar-toggle {
  border-color: #A9C0E8;
  background-color: #A9C0E8;
  outline-color: #A9C0E8;
}

#navbar-link {
  color: #A9C0E8;
}

/* Database Page */
#database-page {
  background-color: #FFFFFF;
  min-height: 100vh;
  padding: 20px;
}

#database-navbar {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f8f9fa;
  border-radius: 10px;
}

#database-navbar-links {
  color: #555555;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

#database-navbar-links:active {
  background-color: #e9ecef;
}


#sidebar-filters {
  background-color: #A9C0E8;
  border-radius: 20px;
  min-width: 250px;
  padding: 10px;
}

#search-bar {
  width: 250px;
  border-radius: 20px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  transition: 0.3s ease-in-out;
  background-color: #F8F6F1;
}

#search-bar:focus {
  outline: none;
  border-color: #1C2B5A;
  box-shadow: 0 0 8px rgba(28, 43, 90, 0.2);
}

#text-center {
  font-size: 1.2rem;
  font-weight: bold;
  color: #888;
}

/* Collections Page */
#collection-card {
  background-color: #FFF3E6;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

#collection-header {
  background-color: #1C2B5A;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#collection-details {
  font-size: 0.9rem;
  color: #333;
}
