/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  width: 100%;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#login-dropdown {
  color: #A9C0E8;
}

#landing-page {
  background-color: #1C2B5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;  /* Full viewport width */
  height: 100vh;
  overflow: hidden;
}

#landing-btn {
  color: #1C2B5A; 
  border: none; 
  box-shadow: none;
}

#landing-header {
  color: #A9C0E8;
  font-size: 4rem;
  scale: 2;
}

#navbar, #footer {
  background-color: #14224A;
  color: #A9C0E8;
}

#navbar-header {
  color: #A9C0E8;
  font-weight: bold;
}

#navbar-toggle {
  border-color: #A9C0E8;
  background-color: #A9C0E8;
  outline-color: #A9C0E8;
}

#navbar-link {
  color: #A9C0E8;
}